Raf.B2B/Web References/ByteEnrolSvc/ByteRafWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.raf.bytesw.com/" targetNamespace="http://ws.raf.bytesw.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RafNotify" type="tns:RafNotify" />
  <xs:element name="RafNotifyResponse" type="tns:RafNotifyResponse" />
  <xs:complexType name="RafNotify">
    <xs:sequence>
      <xs:element minOccurs="0" name="assetTypeId" type="xs:string" />
      <xs:element minOccurs="0" name="assetId" type="xs:string" />
      <xs:element minOccurs="0" name="operation" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RafNotifyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>